<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- Консольный аппендер для вывода логов в консоль -->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>

        <!-- Файловый аппендер для записи логов в файл -->
        <File name="File" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
        <Loggers>
        <!-- Логгер для корневого уровня -->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

        <!-- Логгер для пакета com.githubclient -->
        <Logger name="com.githubclient" level="debug" additivity="false">
            <AppenderRef ref="File"/>
        </Logger>
    </Loggers>
</Configuration>

<!--1. Корневой элемент Configuration:-->
<!--status="WARN": Уровень сообщений, которые будут выводиться в консоль при инициализации логирования.-->

<!--2. Элемент Appenders:-->
    <!--Консольный аппендер:-->
        <!--<Console name="Console" target="SYSTEM_OUT">: Аппендер для вывода логов в консоль.-->
        <!--<PatternLayout pattern="..."/>: Формат вывода логов. Включает дату, уровень, имя класса и строку, сообщение.-->
    <!--Файловый аппендер:-->
        <!--<File name="File" fileName="logs/app.log">: Аппендер для записи логов в файл.-->
        <!--<PatternLayout pattern="..."/>: Формат записи логов в файл.-->
<!--3. Элемент Loggers:-->
    <!--Корневой логгер:-->
