/* Основные стили для приложения */
.root {
    -fx-font-family: "Arial", sans-serif;
    -fx-font-size: 14px;
    -fx-base: #f0f0f0;
}

/* Стили для кнопок */
.button {
    -fx-background-color: #007BFF;
    -fx-text-fill: white;
    -fx-padding: 10px 20px;
    -fx-font-size: 16px;
}

